<p>Bonjour,</p>

  <p>Les derniers indicateurs pour <%= @user.email %> :</p>
  <ul>
    <li>Chiffre d’affaires mensuel : <%= @ca %>€</li>
    <li>Dépenses mensuelles : <%= @depenses %>€</li>
    <li>Trésorerie disponible à date : <%= @treso %>€</li>
    <li>Nombre de clients : <%= @nb_client %></li>
    <li>Taux de conversion lead -- client : <%= @conversion %> %</li>
    <li>Taux de satisfaction client : <%= @satisfaction %>%</li>
  </ul>

  <% if @needs != "" %>
    <p>Mes besoins</p>
    <p><%= @needs %></p>
  <% else %>
    <p>Pas de besoin en particulier</p>
  <% end %>

  <% if @infos != "" %>
    <p>Quelques informations diverses :</p>
    <p><%= @infos %></p>
  <% else %>
    <p>Pas d'infos particuilère</p>
  <% end %>
  <p>Merci</p>
  <p>Bonne journée</p>

  <p><%= @user.email %></p>
