<section class="card filtered-item <% article.tags.each do |tag| %><%= tag.name.downcase %><% end %>">
  <div class="upvote-block" id="upvote-<%= article.id %>">
    <%= render 'upvotes/show', article: article %>
  </div>

  <%= link_to article.url do %>
    <object>
      <div class="card-details">
        <h2><%= article[:title] %></h2>
        <p><%= article[:description] %></p>
      </div>
    </object>
  <% end %>

  <div class="card-controls">
    <!-- <li>Tag: <%# article.tags.each do |tag| %><%#= tag.name %><%# end %><li> -->
    <%= button_edit(article) %>
    <%= button_destroy(article) %>
    <%= button_external_link(article) %>
  </div>

</section>
