<div class="product filtr-item" data-category="<% article.tags.each do |tag| %><%= tag.id %><% end %>">
  <div class="upvote-block">
  <!-- this condition part need to be simplified with sass or erb ! -->
    <% if current_user.voted_for?(article) %>
      <%= link_to upvote_path(current_user.vote_for(article)), method: :delete, class: 'product-upvote' do %>
        <div class="product-arrow">
        </div>
        <div class="product-count">
          <%= article.upvotes.count %>
        </div>
      <% end %>

    <% else %>
      <%= link_to upvotes_path(upvotable_id: article.id, upvotable_type: article.class), method: :post, class: 'product-upvote' do %>
        <div class="product-arrow">
        </div>
        <div class="product-count">
          <%= article.upvotes.count %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="yolo">
    <h2>
      <%= article[:title] %>
    </h2>
    <p>
      <%= article[:description] %>
    </p>
  </div>

  <ul class="list-inline product-controls">
    <!-- <li>Tag: <%# article.tags.each do |tag| %><%#= tag.name %><%# end %><li> -->
    <li>
      <%= button_edit_article(article) %>
    </li>
    <li>
      <%= button_destroy_article(article) %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-external-link"></i>'.html_safe, article.url, target: "_blank" %>
    </li>
  </ul>

</div>
