<div class="sticky-button-tags-container">
  <div class="add-link-block text-center">
    <%= choose_action_of_button(button) %>
  </div>

  <div class="button-tags-container text-center">
    <p>Choose a category you'd like to read</p>

    <form class="filters">
      <input type="radio" id="all" value="" name="filter" checked='checked'>
      <label for="all" class="show-all">
        show all
      </label>
      <% Tag.all.each do |tag| %>
        <input type="radio" id="<%= tag.name.downcase %>"
          value=".<%= tag.name.downcase %>" name="filter">
        <label for="<%= tag.name.downcase %>">
          #<%= tag.name.downcase %>
        </label>
      <% end %>
    </form>
  </div>

  <%= render 'shared/credits' %>
</div>
