<%= form_tag(request.env['PATH_INFO'], method: :post, action: :upload, multipart: true) do %>
  <p>To: florent.merian@aquiti.fr</p>
  <p>From: <%= current_user.email %></p>
  <%= file_field_tag 'file' %>
  <%= label_tag(:message, "Message") %>
  <%= text_area_tag(:message, (render text), size: "10x25",
    escape: true, class: "form-control") %>
  <%= submit_tag "Send your report", class: "btn btn-success" %>
<% end %>
