  <%= form_tag(request.env['PATH_INFO'], method: :post, action: :upload, multipart: true) do %>
    <p>To: florent.merian@aquiti.fr</p>
    <p>From: <%= current_user.email %></p>
    <%= file_field_tag 'file', class: "upload-field" %>
    <%= label_tag(:message, "Message:") %>
</div>
    <%= text_area_tag(:message, (render text),escape: true,
      class: "form-control summernote-mail") %>

  <div class="form-model">
  <%= submit_tag "Send your report", class: "btn btn-success" %>
<% end %>
</div>
