<div class="navbar-wagon">
  <!-- Left Part (logo) -->
  <div id="navbar-wagon-left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>

  <!-- Middle Part -->
  <div id="navbar-wagon-middle">
    <p class="section active">KNOWLEDGE</p>
    <p class="section">NETWORK</p>
  </div>

  <!-- Right Part -->
  <div id="navbar-wagon-right">
    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <div><%= link_to 'Send your report',"#", data: {toggle: "modal", target: ".bs-example-modal-lg"} %></div>
      <!-- Large modal -->



      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">

            <%= form_tag("/reporting", method: :post) do %>
              <%= label_tag(:ca, "Chiffre d’affaires mensuel :") %>
              <%= text_field_tag(:ca) %>
              <%= label_tag(:depenses, "Dépenses mensuelles :") %>
              <%= text_field_tag(:depenses) %>
              <%= label_tag(:nb_client, "Nombre de clients :") %>
              <%= text_field_tag(:nb_client) %>

              <%= submit_tag("Envoyer") %>
            <% end %>



          </div>
        </div>
      </div>




      <!-- Avatar with dropdown menu -->
      <div class="dropdown">
        <%= link_to "\u25bc", '#', class:"dropdown-toggle", id:"navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to edit_user_password_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i><%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i><%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>

      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Connaissances", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Network", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "À faire", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>

</div>
