<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-model">
        <h1 class="text-center report-title">Your report</h1>
        <p class="text-center" id="italic-under-title">
        This will send an email with the message below</p>

        <%= form_tag("/reporting", method: :post) do %>
            <p>To: florent.merian@aquiti.fr</p>
            <p>From: <%= current_user.email %></p>
            <%= label_tag(:report, "Message") %>
            <%= text_area_tag(:report, (render 'text_report'), size: "10x25", escape: true, class: "form-control") %>

            <%= submit_tag "Send your report", class: "btn btn-success" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
