<%= form_tag("/ask_intro",
  method: :post,
  class: "dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu form-group
    text-center",
  id: "report") do %>
    <h3>Nos derniers indicateurs :</h3>

    <%= label_tag(:ca, "Chiffre d'affaire") %>
    <%= text_field_tag(:ca, nil, class: "form-control", size: "500x50")%>

    <%= label_tag(:nb_client, "Nombre de clients") %>
    <%= text_field_tag(:nb_client, nil, class: "form-control") %>

    <%= label_tag(:satisfaction, "Taux de satisfaction client") %>
    <%= text_field_tag(:satisfaction, nil, class: "form-control") %>

    <h3>Pour rappel, notre activité :</h3>
    <%= label_tag(:solution, "Solution") %>
    <%= text_area_tag(:solution, nil, class: "form-control",
      placeholder: "En 2 mots : Quelle est la solution que vous proposez ?\
      Pour quel problème ? ", size: "5x3") %>

    <%= label_tag(:market, "Marché visé") %>
    <%= text_area_tag(:market, nil , class: "form-control",
     placeholder: "À qui va s'adresser cette solution?", size: "5x3") %>

    <%= hidden_field_tag :contact_id , contact.id %>

    <%= submit_tag "Envoyer ma demande", class: "btn btn-success" %>
<% end %>
