<section class="card filtered-item <% contact.tags.each do |tag| %><%= tag.name.downcase %><% end %>">
  <h2><%= contact.title %></h2>
  <p><%= contact.description %></p>

  <div class="dropdown">
    <%= ask_intro(contact) %>
  </div>
  <div class="card-controls" id="icon">
    <%= button_edit(contact) %>
    <%= button_destroy(contact) %>
    <%= button_new_contact %>
  </div>
</section>
