<section class="card filtered-item <% contact.tags.each do |tag| %><%= tag.name.downcase %> <% end %>">
  <h2><%= contact.title %></h2>
  <p><%= contact.description %></p>

  <%= button_ask_intro(contact) %>

  <div class="card-controls" id="icon">
    <%= button_edit(contact) %>
    <%= button_destroy(contact) %>
  </div>
</section>
