<section class="product filtr-item vertical-card sliced" data-category="<% contact.tags.each do |tag| %><%= tag.id %><% end %>">
  <h2><%= contact.title %></h2>
  <p><%= contact.description %></p>
  <div class="dropdown">
    <%= link_to "Demander une intro", "#", class: "dropdown-toggle ask-intro", "data-toggle" => "dropdown"%>
    <%= render 'shared/contact', contact: contact %>
  </div>
</section>
