<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @contact do |c| %>
        <%= c.input :title, label: 'Title' %>
        <%= c.input :description, as: :text, :maxlength => 140 %>
        <%= c.association :tags,   as: :radio_buttons, collection_select: :selected %>
        <%= c.submit "Enregister", class: "btn btn-success" %>
      <% end %>

    </div>
  </div>
</div>
