<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link rel="shortcut icon" href="<%= image_url "logo.png" %>" type="image/x-icon">
    <title>Witty - Just. F**cking. Do it.</title>
    <!-- <title>Witty <%#= yield :title %></title> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="<%= 'horizontal-' if current_page?(contacts_path) %>wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
