<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link rel="shortcut icon" href="<%= image_url "logo.png" %>" type="image/x-icon">
    <title>Keep it simple.</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="devise-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
